<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h1>Skills</h1>
    <ul>
      <h1>New Skill</h1>
      <form action="/skills" method="POST">
        <button type="submit" name="Skill">Save Skill</button>
        <!-- <input type="text" name="todo"> -->
        <input type="text" name="skill" />
      </form>
    </ul>
  </body>
</html>
